<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Spring Dogdaycare</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
</head>
<body>

<h1 style="text-align:center;">Dog Daycare Register</h1>

<h2 style="text-align:center;">Search Owners</h2>
<div align="center">
<form action="#" th:action="@{/owner}" th:object="${entries}" method="post">
    <!--<<p>Owner: <input type="text" th:field="*{entry.owner}" /></p>-->
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</div>

<div th:if="${entries.isEmpty()}">
    <p>There are no dogs currently checked in to the Daycare.</p>
</div>

<div th:if="${!entries.isEmpty()}">
<table>
    <tr>
        <th>Owner</th>
        <th>Breed</th>
        <th>Check In Date</th>
        <th>Delete</th>
        <th>Update</th>
    </tr>
    <tr th:each="entry: ${entries}">
        <td th:text="${entry.owner}"></td>
        <td th:text="${entry.breed}"></td>
        <td th:text="${entry.date}"></td>
        <td><a th:href="@{'/delete/' + ${entry.id}}">Delete</a></td>
        <td><a th:href="@{'/update/' + ${entry.id}}">Update</a></td>
    </tr>
</table>
</div>

<h2 style="text-align:center;" th:text="${formHeader}"></h2>
<div align="center">
<form th:object="${newEntry}" method="post">
    <label>Owner: </label><br />
    <input type="text" size="32" th:field="*{owner}" /><br />
    <label>Dog Breed: </label><br />
    <input type="text" size="32" th:field="*{breed}" /><br />
    <label>Check In Date: </label><br />
    <input type="date" size="10" th:field="*{date}" /><br />
    <input type="submit" value="Submit" />
    <input type="reset" value="Reset" />
    <p class="warning" th:if="${#fields.hasErrors('owner')}">Owner cannot be empty.</p>
    <p class="warning" th:if="${#fields.hasErrors('breed')}">Dog Breed cannot be empty.</p>
</form>
</div>
<br />

<div align="center">
<img th:src="@{/images/schnauzer.jpg}" />
</div>

</body>
</html>