<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Spring Guestbook</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
</head>
<body>

<h1>Dog Daycare Register</h1>


<div th:if="${entries.isEmpty()}">
    <p>There are no comments in the Guestbook. What a pity.</p>
</div>

<div th:if="${!entries.isEmpty()}">
<table>
    <tr>
        <th>Owner</th>
        <th>Breed</th>
        <th>Delete</th>
        <th>Update</th>
    </tr>
    <tr th:each="entry: ${entries}">
        <td th:text="${entry.user}"></td>
        <td th:text="${entry.comment}"></td>
        <td><a th:href="@{'/delete/' + ${entry.id}}">Delete</a></td>
        <td><a th:href="@{'/update/' + ${entry.id}}">Update</a></td>
    </tr>
</table>
</div>

<h2 th:text="${formHeader}"></h2>
<form th:object="${newEntry}" method="post">
    <label>Owner: </label>
    <input type="text" size="32" th:field="*{user}" />
    <label>Dog Breed: </label>
    <input type="text" size="64" th:field="*{comment}" />
    <input type="submit" value="Submit" />
    <p class="warning" th:if="${#fields.hasErrors('user')}">Owner cannot be empty.</p>
    <p class="warning" th:if="${#fields.hasErrors('comment')}">Dog Breed cannot be empty.</p>
    <input type="reset" value="Reset" />
</form>

<img th:src="@{/images/schnauzer.jpg}" />

</body>
</html>